@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,700italic,500italic,400italic,300,300italic);

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
}

a {
    color: #999;
}

.intro {
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    h1 {
        font-weight: 600;
        font-size: 40px;
    }
}

.todoContainer {
    max-width: 400px;
    text-align: left;
    margin: 60px auto;
    h3 {
        border-bottom: 1px solid #cacaca;
        text-transform: uppercase;
    }
}

.footnote {
    font-size: 12;
    font-weight: 300;
    margin-top: 100px;
}
